<form>
	<input type="text" name="criteria" id="criteria" placeholder="Enter skill or city" value="{{ criteria }}">
	<input type="submit" id="criteriaSubmit">
</form>
<a href="{{ path('doCrawl') }}">Crawl jobs from bestjobs</a>
<div id="filteredJobs">	
</div>	
		
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
var url_search_criteria = {{ path('search')|json_encode|raw }};
function getFilteredJobs(){
	var criteria = $('#criteria').val();
	$('#filteredJobs').html('');
	$.ajax({
		type: "GET",
		url: url_search_criteria + '?criteria=' + criteria
	})
	.done(function( msg ) {
		$('#filteredJobs').html(msg);
	});
}
$('#criteriaSubmit').click(function(e){
	e.preventDefault();
	getFilteredJobs();
});
$(document).ready(function(){
	getFilteredJobs();
});
</script>